.artist_bio_details {
    text-align: center;
    width: 60%;
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: whitesmoke;
    font-family: Montserrat;
}

.absolute-in-image {
    position: absolute;
    display: inline-flex;
}

.share_profile_links {
    margin-bottom: -8px;
    color: #C2A476;
}

.edit_details {
    /* margin-left: -3.8%; */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #CCB48E;
    line-height: 55px;
    padding: 0 33px;
    /* width: 192px; */
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    text-shadow: none;
    margin-bottom: 20px;
    border-radius: 50px;
    margin-top: -9px;
}

.img-circle-artist-page {
    object-fit: cover;
}

.edit_icon {
    margin-left: -60px;
    margin-top: -25px;
}

.edit_icon_image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

input[type=file] {
    display: none !important;
}

.inputfile-1 + label {
    color: #C2A476;
    border: 2px solid currentColor;
    padding: 1px 5px 1px 5px;
    margin-top: 15px;
}

.upload_art, .edit_profile {
    z-index: 5;
    font-size: 12px;
    font-weight: 700;
    color: black;
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.5);
    font-family: Montserrat;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    padding: 5px 15px 5px 15px;
    margin: 0 25px 25px 0;
}

.edit_profile {
    background: #C2A476;
    color: white !important;
    cursor: pointer;
}

.delete {

    width: 37px;
    height: 38px;
    position: absolute;
    margin-top: -25px;
    margin-right: 7px;
    display: flex;
    margin-left: -15px;
    z-index: 9;
}

.absolute-in-image {
    position: absolute;
    display: inline-flex;
    margin-left: 165px;
    margin-top: 5px;
}

@media screen and (max-width: 479px) {
    .delete {

        width: 37px;
        height: 38px;
        position: absolute;
        margin-top: -25px;
    }


    .absolute-in-image {
        position: absolute;
        /* display: inline-flex; */
        right: 40px;
    }

    .modal-dialog {
        margin: 5px;
    }

    .modal-confirm {
        width: auto !important;
    }
}

.cd-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
    transform: translateY(0);
}

.upload-btn {
    margin-top: 45px;
}


@media screen and (max-width: 479px) {
    .artist_bio_details {
        width: 100%;
        padding-top: 0px;
    }

    .upload-btn {
        margin-right: 0px;
    }

    .products {
        margin-left: -25px !important;
        margin-right: 15px !important;
    }

}

/*TOOLTIP START*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.icon {
    display: inline-flex;
}

.uplaod-icon {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.icon-new {
    display: inline-flex;
    width:40%;
}

img.icon-trend {
    width: 35px;
}

.name {
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    text-transform: capitalize;
}

span.text-trend {
    margin-left: 5px;
    font-size: 17px;
    vertical-align: bottom;
    color: whitesmoke;
    font-family: Montserrat;
}

p.grey-text {
    color: #C2A476;
    font-size: 12px;
    font-family: Montserrat;
}

.inputfile-1 + label {
    color: #C2A476;
    border: none;
    padding: 1px 5px 1px 5px;
    position: absolute;
    cursor: pointer;
    margin-top: -200px;

    margin-left: 105px;
    font-size: 22px;
}

.img-circle-artist-page {
    border: solid 4px #C2A476;
}

@media screen and (max-width: 479px) {
    .uplaod-icon {
        width: 100%;
    }

    .image-profile-container {
        padding-top: 70px;
    }
    .icon-new {
        display: inline-flex;
        width: 100%;
    }
}

.map-text {
    text-align: center;
    font-family: Montserrat;
    font-size: 13px;
    color: #C2A476;
    padding-top: 5px
}

.share_profile_links {
    margin-bottom: 0px;
    color: white;
    font-family: montserrat;
    font-size: 13px;
}
span.woocommerce-Price-amount.amount {
    font-family: Montserrat;
    font-style: NORMAL;
    font-weight: 500;
}

.heart{
    margin-top: 15px;
    font-size: 24px !important;
    z-index: 99;
    color:#CCB48E;
}

.go_dislike,.go_like,.login-required,#countlike{
    position: absolute;
    display: flex;
    float: right;
    left:61.5px;
}
#countlike{
    margin-top: 11px;
    margin-left: 29px;
    z-index:999;
    color: black;
    left:0px;
    font-family:Montserrat;
}

.for_like{
    margin-right: 45px;
    padding-right: 15px;
}
.ws-item-subtitle:after {
    content: "";
    height: 1px;
    position: relative;
    width: 40px;
    display: block;
    margin: 5px 0 0 0 !important;
    background: #C2A476;
}
.heart{
    margin-top: 15px;
    font-size: 24px !important;
    z-index: 99;
    color:#CCB48E;
}

.go_dislike, .go_like, .login-required, #countlike {
    position: absolute;
    display: flex;
    float: right;
    left: 45.5px;
}


.go_dislike, .go_like, .login-required {
    position: absolute;
    display: flex;
    float: right;
    left: 45.5px !important;
}

#countlike {
    position: absolute;
    display: flex;
    float: right;
    margin-top: 11px;
    margin-left: 15px;
    z-index: 999;
    color: black;
    left: 0px !important;
    font-family: Montserrat;
}
.for_like {
    margin-right: 45px;
    padding-right: 15px;
}