img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

div.wpcf7 .ajax-loader.is-active {
    visibility: hidden !important;
}

.hidden_field {
    display: none;
}

div#error_text {
    color: red;
    margin-top: 25px;
}

.upload_btn {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 45px !important;
    padding: 0 45px !important;
    color: #fff !important;
    border-radius: 0 !important;
    border: none !important;
    text-transform: uppercase;
    box-shadow: none !important;
    text-shadow: none !important;
    font-weight: 600;
    width: 100%;
    background: #CCB48E !important;
}

.inputfile-4 + label {
    margin-top: -15px;
}

input[type=file] {
    display: none !important;
}

.input-file-trigger {
    position: absolute;
    top: -135px;
    left: 189px;
    display: inline-block;
    white-space: nowrap;
    /*background: #CCB48E;*/
    padding: 0 10px 0 10px;
    border-radius: 5px;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 1em #CCB48E, 0 0 0.2em #CCB48E;
}

#loading1, #loading2, span#success,#errorImage {
    color: #CCB48E;
    display: inline-flex;
    padding-top: 15px;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}
#errorImage{
    color:red;
    padding-top: 25px;
}

.inputfile-4 + label {
    position: absolute;
    right: 120px;
    left: auto;
    margin-top: -360px;
    width: 300px;
}

@media screen and (max-width: 1024px) {
    label {
        position: absolute;
        margin-left: -51px;
    }

    .input-file-trigger {
        position: absolute;
        margin-left: -51px;
    }
    .inputfile-4 + label {
    right:62px;
    }

}

@media screen and (max-width: 768px) {

    .input-file-trigger {
        position: absolute;
        margin-left: -110px;
    }
    .inputfile-4 + label {
        position: absolute;
        right: 35px;
        left: auto;
        margin-top: -330px;
        width: 250px;
    }
}

@media screen and (max-width: 479px) {

    .input-file-trigger {
        position: absolute;
        margin-left: -85px;
    }

    .inputfile-4 + label {
        position: absolute !important;
        right: 52px;
        left: auto !important;
        margin-top: -330px !important;
        width: 250px;
    }
}

@media screen and (max-width: 376px) {

    .input-file-trigger {
        position: absolute;
        margin-left: -106px;
    }

    .inputfile-4 + label {
        right: 35px;
    }
}

@media screen and (max-width: 367px) {

    .input-file-trigger {
        position: absolute;
        margin-left: -115px;
    }

    .inputfile-4 + label {
        right: 29px;
    }
}

@media screen and (max-width: 320px) {

    .input-file-trigger {
        position: absolute;
        margin-left: -125px;
    }

    .inputfile-4 + label {
        position: absolute !important;
        right: 28px;
        left: auto !important;
        margin-top: -308px !important;
        width: 207px;
    }
}

h3.step-text {
    text-align: left;
    padding-bottom: 25px;
    text-transform: uppercase;
    color: #C2A476;
    font-size: 22px;
}

.asterisk::-webkit-input-placeholder:after {
    content: '*';
    color: red;
}

.asterisk:-moz-placeholder:after {
    /* Firefox 18- */
    content: '*';
    color: red;
}

.asterisk::-moz-placeholder:after {
    /* Firefox 19+ */
    content: '*';
    color: red;
}

.asterisk:-ms-input-placeholder:after {
    content: '*';
    color: red;
}


.wpb_column.vc_column_container.vc_col-sm-6{
    padding-bottom: 25px;
}


div#error_text{
margin-top: 27px;
}

@media screen and (max-width:479px){
    div#error_text {
        color: red;
        margin-top: 35px;
    }
}

.images.ws-product-bg.fixed_detail_img.result{
    height: 382px;
    width: 382px;
    margin-left: auto;
    margin-right: auto;
}