.ws-page-container {
    padding-top: 35px;
}

#productContainer_loadmore {
    display: none;
}

@media only screen and (max-width: 768px) {
    ul.ws-shop-nav li {
        float: none;
        display: inline-block !important;
        padding: 5px 19px !important;
    }
}

@media screen and (max-width: 479px) {
    ul.ws-shop-nav li {
        float: none;
        display: inline-block !important;
        padding: 5px 15px !important;
    }

}

@media screen and (max-width: 367px) {
    .ws-more-btn {
        padding: 0 95px;
    }
}

.no_result {
    text-align: center;
    font-size: 25px
}

.heart{
    margin-top: 15px;
    font-size: 24px !important;
    z-index: 99;
    color:#CCB48E;
}

.go_dislike, .go_like, .login-required, #countlike {
    position: absolute;
    display: flex;
    float: right;
    left: 45.5px;
}
#countlike {
    margin-top: 11px;
    margin-left: 15px;
    z-index: 999;
    color: black;
    left: 0px;
    font-family: Montserrat;
}

.for_like{
    margin-right: 45px;
    padding-right: 15px;
}


span.woocommerce-Price-amount.amount {
    font-family: Montserrat;
    font-style: NORMAL;
    font-weight: 500;
}


.ws-item-subtitle:after {
    content: "";
    height: 1px;
    position: relative;
    width: 40px;
    display: block;
    margin: 5px 0 0 0 !important;
    background: #C2A476;
}
