.ws-product-bg.fixed_height {
    background: #f2f2f2;
    min-height: 450px;
    max-height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.attachment-shop_single.size-shop_single.wp-post-image {
    max-height: 543px !important;
    object-fit: contain;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #C2A476;
    color: #fff;
    margin-bottom: 10px;
}

.profile_img {
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    margin-top: -8px;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background: #C2A386;
}

button.single_add_to_cart_button.button.alt {
    margin-left: 2.1%;
}

.request_buy_btn {
    margin-left: -3.8%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #CCB48E;
    line-height: 55px;
    padding: 0 33px;
    width: 192px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    border: none;
    border-radius: 0;
    box-shadow: none !important;
    text-shadow: none;
    margin-bottom: 20px;
}

.request_buy_btn:hover {
    background: #353535;
}

.description {
    font-size: 18px;
    padding-bottom: 25px;
}

@media screen and (max-width: 479px) {
    .ws-page-container div.product .product_meta {
        text-align: center;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
        position: relative !important;
        top: 305px !important;
    }

    button.single_add_to_cart_button.button.alt {
        margin-left: unset;
    }

}

.heart {
    margin-top: 15px;
    font-size: 24px !important;
    z-index: 99;
    color: #CCB48E;
}

.go_dislike, .go_like, .login-required, #countlike {
    position: absolute;
    display: flex;
    float: right;
}

#countlike {
    margin-top: 11px;
    margin-left: 29px;
    z-index: 999;
    color: black;

}

.for_like {
    margin-right: 45px;
    padding-right: 15px;
}

.art-name {

    text-align: left !important;
}

.seprate {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
}

.ws-page-container div.product .woocommerce-tabs {
    margin-top: 25px;
    margin-bottom: 25px;
}

.description {
    font-size: 18px;
    padding-bottom: 0px;
    border: none;
    font-family: Montserrat;
}

.ws-page-container div.product .woocommerce-tabs ul.tabs li a {
    color: #C2A476;
    font-family: montserrat;
    font-size: 13px;
}

.product_meta {
    border: none;
}

.price-block {
    padding-top: 25px;
    padding-bottom: 25px;
}

.price-amount {
    font-size: 25px;
    font-family: Montserrat;
    font-weight: 500;
}

.name-artist, .artist-locate {
    color: #353535;
    font-family: Montserrat;
}

.artist-locate {
    font-size: 11px;
}

span.woocommerce-Price-amount.amount {
    font-style: normal;
    font-family: montserrat;
}



@media screen and (max-width: 479px) {
    .ws-page-container div.product div.summary {
        padding-top: 45px;
    }

    .price-amount {
        font-size: 18px;
        white-space: nowrap;
        margin-left: -25px;
    }

    .request_buy_btn {
        margin-left: 0px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        background-color: #CCB48E;
        line-height: 39px;
        width: unset;
        font-size: 11px;
        letter-spacing: 1px;
        font-weight: 600;
        border: none;
        border-radius: 0;
        box-shadow: none !important;
        text-shadow: none;
        margin-bottom: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .ws-page-container div.product .product_meta {
        text-align: center;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
        position: relative !important;
        top: 0px !important;
    }

    .suggest-paint {
        padding-top: 0px;
    }
}

.heart {
    margin-top: 15px;
    font-size: 24px !important;
    z-index: 99;
    color: #CCB48E;
}

.go_dislike, .go_like, .login-required, #countlike {
    position: absolute;
    display: flex;
    float: right;
    left: 45.5px;
}

#countlike {
    margin-top: 11px;
    margin-left: 15px;
    z-index: 999;
    color: black;
    left: 0px;
    font-family: Montserrat;
}

.for_like {
    margin-right: 45px;
    padding-right: 15px;
}

.ws-page-container div.product div.images #countlike {
    position: absolute;
    display: flex;
    float: right;
    right: unset;
    margin-top: 11px;
    z-index: 999;
    color: black;
    left: unset;
    margin-left: -15px;
    font-size: 20px;
    font-family: Montserrat;
}

.ws-page-container div.product div.images .go_dislike, .ws-page-container div.product div.images .go_like, .ws-page-container div.product div.images .login-required {
    position: absolute;
    display: flex;
    float: right;
    right: unset;
    margin-top: 0px;
    margin-left: 29px;
    z-index: 999;
    color: black;
    left: unset;
}

.ws-page-container div.product div.images .heart {
    font-size: 30px !important;
}

.seprate-name {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
}

#countlike {
    font-family: Montserrat;
}

.ws-page-container div.product .product_meta {
    border-top: 1px solid #CCB48E;
    padding-top: 20px;
}

.border-artist {
    border-top: 1px solid #CCB48E;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-bottom: 25px
}

.created-name {
    font-family: Montserrat;
    background: white;
    color: #CCB48E;
    font-size: 16px;;
}

.name-create {
    background-color: white !important;
    padding-top: 15px;
}

@media screen and (max-width: 479px) {
    .border-artist {
        border-top: 1px solid #CCB48E;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        padding-bottom: 0px;
        margin-top: 50px;
    }

    .name-create {
        height: 40px;
    }

    .like-container {
        position: absolute;
        right: 0;
        margin-top: -10px;
    }
}

.ws-item-subtitle:after {
    content: "";
    height: 1px;
    position: relative;
    width: 40px;
    display: block;
    margin: 5px 0 0 0 !important;
    background: #C2A476;
}

@media only screen and (max-width: 1500px) and (min-width: 769px){
    .ws-page-container div.product div.images {
        max-height: 543px;
    }
}

.like-container {
    margin-top: -10px;
}
.share_links{
    margin-left: 25px !important;
    font-family: Montserrat !Important;
    font-size: 13px !important;
}
.price_icon{
    color: #CCB48E;
    font-size: 20px;
}
.handlingText{
    white-space: nowrap;
    font-size: 8px;
    font-family: montserrat;
    padding-top: 0px;
    margin-top: -10px;
    display: flex;
    margin-left: 55px;
}

@media screen and (max-width: 1024px) and (min-width:769px){
    .handlingText{
        margin-left: 0px;
    }
}

@media screen and (max-width:479px){
    .handlingText{
        font-size: 7px;
        margin-left: -15px;
    }
}

#priceBlock{
    margin-bottom: 0px !important;
}