@media screen and (max-width: 479px) {
    .ws-page-container ul.products {
        margin: 0;
        text-align: center;
        float: center;
        margin-left: -37px !important;
    }

    .ws-more-btn {
        padding: 0 93px;
    }

}

.ws-parallax-header {
    position: relative;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.5);
}

.ws-product-bg.fixed_image {
    background: #f2f2f2;
    min-height: 378px;
    max-height: 378px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-group .form-control:focus {
    z-index: 0;
}

.navbar .navbar-search .dropdown-menu {
    min-width: 25px;
}

.dropdown-menu .label-icon {
    margin-left: 5px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.navbar-form .input-group .input-group-btn {
    width: 1px;
}

input.btn.btn-search.btn-info.search-paint {
    background: #C2A476;
    color: white;
    box-shadow: none;

    height: 34px;
    font-size: 11px;
}

input.btn.btn-search.btn-info.search-paint:hover {
    background: #CCB48E;
    box-shadow: none;
}

input.form-control{
    box-sizing: border-box;
    width:100%;
    text-indent:10px;
}

@media screen and (max-width: 768px) and (min-width: 479px) {
    form.navbar-form.navbar-search {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-default {
        background: none !important;
        border: none !important;
        height: 65px !important;
    }
    .navbar-nav {
        margin: 0px;
    }
    .input-group .form-control{
        width:85% !important;
    }
}

@media screen and (max-width:479px){
    .navbar-form{
        padding: 0px 103px 0 60px !important;
        margin-top: 8px !important;
        margin-right: -15px !important;
        margin-bottom: 8px !important;
        border:none !important;
        background: none !important;
    }
    .navbar-default {
        background: none !important;
        border: none !important;
        height: 65px !important;
    }
}



@media screen and (max-width:479px) {
    .ws-page-container ul.products {
        margin: 0;
        text-align: center;
        float: center;
        margin-left: -37px !important;
    }
    .ws-more-btn
    {
        padding: 0 93px;
    }

}
.ws-product-bg.fixed_image{
    background: #f2f2f2;
    min-height: 378px;
    max-height: 378px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-group .form-control:focus {
    z-index: 0;
}

.navbar .navbar-search .dropdown-menu {
    min-width: 25px;
}

.dropdown-menu .label-icon {
    margin-left: 5px;
}
.ws-parallax-header {
    position: relative;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.5);
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.navbar-form .input-group .input-group-btn {
    width: 1px;
}

input.btn.btn-search.btn-info.search-paint {
    background: #C2A476;
    color: white;
    box-shadow: none;
    height: 34px;
    font-size: 12px;
    font-family: Montserrat;
    text-shadow: none;
}

input.btn.btn-search.btn-info.search-paint:hover {
    background: #CCB48E;
    box-shadow: none;
}

.navbar-form .input-group .input-group-btn
{
    width:1px !important;
}

@media screen and (max-width:479px){
    .navbar-form{
        padding: 0px 103px 0 60px !important;
        margin-top: 8px !important;
        margin-right: -15px !important;
        margin-bottom: 8px !important;
        border:none !important;
        background: none !important;
    }
    .navbar-default {
        background: none !important;
        border: none !important;
        height: 65px !important;
    }

    .ws-parallax-header {
        position: relative;
        min-height: 400px;
        background: rgba(0, 0, 0, 0.5);
        margin-top: -25px;
    }
}

@media screen and (max-width: 479px) {
    .navbar-form {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}