
body {
    overflow-x: hidden;
}

#latest_painting {
    max-width: 377px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: -25px;
}

#cateogry {
    padding-top: 125px;
}

.new_arrival {
    max-height: 360px;
    width: 95%;
    background: #f2f2f2;
}

.wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    text-align: center;
    display: block;
    color: #15D37D;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 600;
    border-color: transparent;
    border-radius: 0;
    border: none;
    margin-top: 20px;
}

.ws-works-item.new_arts {
    background: #f2f2f2;
    min-height: 540px;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.who_we {
    font-size: 26px !important;
    letter-spacing: 1px;
    font-weight: 600;
    color: #353535;
    font-family: Montserrat;
}

.inner_Who {
    color: #353535;
    font-weight: 500;
    font-size: 15px;
    width: 90%;
    font-family: Montserrat;
}

.create_profile {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
    font-size: 13px;
    padding: 14px 50px;
    background: #C2A476;
    color: white;
    font-family: Montserrat;
}

.create_profile:hover {
    background: black;
    color: white;
}

.step {
    font-size: 15px;
    color: #353535;
    letter-spacing: 3px;
}

.padding-top-x40 {
    padding-top: 40px;
}

.img_artist {
    width: 240px;
    height: 240px;
}

.ws-separator-small {
    height: 1px;
    position: relative;
    width: 50px;
    display: block;
    margin: 10px auto 10px auto;
    background-color: #C2A476;
}

.android_btn {
    z-index: 7;
    white-space: nowrap;
    font-size: 14px;
    line-height: 55px;
    font-weight: 700;
    color: #353535;
    font-family: Montserrat;
    text-transform: uppercase;
    background-color: white;
    padding: 0px 65px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    letter-spacing: 1px;
    visibility: inherit;
    transition: none;
    width: unset;
    height: unset;
    border-width: 0px;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: 50% 50% 0px;
}

.artist_heading {
    padding-bottom: 120px;
}

.ws-call-btn a {
    color: #353535;
    width: 236px;
}

.ws-call-btn a:hover {
    color: white !important;
    border: none;
}

.artist_name {
    text-align: center;
    padding-top: 15px;
    color: #353535;
    padding-bottom: 9px;
    font-family: Montserrat;
    font-weight:500;
}

.location {
    color: #353535;
    font-family: Montserrat;
}

@media screen and (max-width: 479px) {
    .new_arrival {
        width: 100%;
    }

    .app_heading {
        font-size: 16px;
    }

    #latest_painting {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #cateogry {
        padding: 0px !important;
    }

    .artist_heading {
        padding-bottom: 25px;
    }
}

.product_background {
    background: #f2f2f2;
    min-height: 378px;
    max-height: 378px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.margin_set {
    margin-left: auto;
    margin-right: auto;
}

.one_line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}

.ws-item-category.one_line{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: montserrat;
    font-weight: 400;
    margin-bottom: 0px;
}
.ptzero{
    margin-top:5px;
    margin-bottom: 5px;
}
.ws-item-price {
    color: #999;
    font-style: normal;
    font-family: montserrat;
}

.font_17 {
    font-size: 17px;
}

.border_none {
    border-bottom: none !important;
}

h3.ws-item-title {
    font-size: 15px;
    text-transform: uppercase;
    margin-top: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: Montserrat !important;
    font-weight: 500;
}

.col-sm-3.featured-collections-item {
    margin-bottom: 25px;

}

@media screen and (max-width: 479px) {
    .featured-collections-item .caption h3 {
        letter-spacing: 0.5px;
    }
}

.heart {
    margin-top: 15px;
    font-size: 24px !important;
    z-index: 99;
    color: #CCB48E;
}

.go_dislike, .go_like, .login-required, #countlike {
    position: absolute;
    display: flex;
    float: right;
}

#countlike {
    margin-top: 11px;
    margin-left: 29px;
    z-index: 999;
    color: black;

}

.for_like {
    margin-right: 45px;
    padding-right: 15px;
}

.tp-caption.WebProduct-Title, .WebProduct-Title {
    color: black !important;
    font-size: 27px !important;
    line-height: 45px !important;
    font-weight: 400 !important;
    font-style: normal;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    font-family: Montserrat !important;
}

.ws-footer-separator {
    width: 45px !important;
}

h3.ws-heading.text-center {
    font-family: Montserrat;
    font-weight: 600;
}

.profile_text {
    font-family: Montserrat;
    margin-top: 5px;
}

h4.vc_custom_heading.for_artist{
    font-size: 33px;
    color: #CCB48E;
    text-align: center;
}
.wpb_text_column.wpb_content_element {
    color:white;
    font-family: montserrat;
    font-size: 22px;
}
.vc_custom_1454576392245{
    background: #353535 !important;
}
.vc_general.vc_btn3, .wpb_button:hover, a.wpb_button_a, a.wpb_button_a:hover{
    background: #c2a476 !important;
    color:white;
    font-family: Montserrat;
    font-weight:500;
}
.vc_row.wpb_row.vc_row-fluid.ws-category-box.vc_row-no-padding.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex{
    height:460px;
}
.featured-collections-item .thumbnail {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100px;
    background-color: rgba(0,0,0,0) !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    background: none !important;
    border: 2px solid #C2A476;
    border-radius: 15px;

}
.featured-collections-item .caption h3{
    color:#353535;
    font-family: Montserrat;
}

.featured-collections-item .ws-overlay{
    background: none !important;
}

@media screen and (max-width:479px){
    .vc_row.wpb_row.vc_row-fluid.ws-category-box.vc_row-no-padding.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex {
        height: auto;
    }
    .col-sm-6.col-md-4.ws-works-item {
        margin-bottom: 135px;
    }
}
.ws-product-bg {
    background: #f2f2f2;
    min-height: 508px;
    /* max-height: 378px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
figure.ws-product-bg{
    margin-right: 15px;
}
.latest_background{
    background: #f2f2f2;
}
.ws-about-section{
    border-bottom: none !important;
}
@media screen and (max-width: 479px) {
    .tp-caption.WebProduct-Title, .WebProduct-Title {
        color: black !important;
        font-size: 22px !important;
        line-height: 36px !important;
    }
    .wpb_text_column.wpb_content_element {
        color: white;
        font-family: montserrat;
        font-size: 18px;
    }
    h4.vc_custom_heading.for_artist {
        font-size: 22px;
        color: #CCB48E;
        text-align: center;
    }
    figure.ws-product-bg{
        margin-right:0px;
    }
    .featured-collections-item .caption h3 {
        color: #353535;
        font-family: Montserrat;
        font-size: 19px;
    }
    .inner_Who{
        text-align: justify;
        width: 100%;
    }
    h3.ws-heading.text-center{
        font-size: 23px;
    }
    .profile_text{
        margin-bottom: 35px;
    }

}
img.vc_single_image-img.attachment-full{
    height:100% !important;
    object-fit: cover;
}
.buy-artimage{
    min-height: 465px !important;
}

img.vc_single_image-img.attachment-full,.wpb_single_image .vc_single_image-wrapper{
    width:100% !important;
}
.wpb_single_image .vc_figure{
    min-width: 100%;
}

.appblock{
    min-height:250px;
}

.app{
    margin-bottom:15px;
}

@media screen and (max-width:479px){

    img.vc_single_image-img.attachment-full{
        height:auto !important;
        object-fit: cover;
    }
    .buy-artimage{
        min-height: auto !important;
    }
    .appblock{
        min-height:350px;
    }
    .app_heading{
        font-size: 20px !important;
    }

}

.app a:hover{
    color:#353535 !important;
}
