/* ==========================================================================
	* Template Name: ARTDAY - Creative Shop Template
	* Description: Ecommerce Single Product Template that can be used by a creative artist, agency, shop, for selling your prints.
	  ARTDAY is a fully responsive Single Product Template built with Bootstrap Framework.
	* Version: 1.0
	* Author: Woss Themes
	* Website: http://artday.wossthemes.com
========================================================================== */

/*
---------------

Table of Contents:

1) GENERAL STYLES
2) HEADER
3) ABOUT SECTION
4) WORKS SECTION
5) SHOP SECTION
6) CALL TO ACTION
7) SUBSCRIBE
8) NEW ARRIVALS SECTION
9) PARALLAX HEADERS
10) CONTACT PAGE
11) JOURNAL PAGE
12) PRODUCT PAGE
13) F.A.Q & PRIVANCY PAGE
14) FOOTER
15) RESPONSIVE STYLES

--------------
*/

/*--------------------------------------
	1) GENERAL STYLES
---------------------------------------*/
body{
	font-family: 'Merriweather', serif;
	color: #999;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6{
	letter-spacing: 1.5px;
	margin: 0;
}
p{
	line-height: 25px;
	margin: 0;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}
a:focus {outline: none;outline-offset: none;}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	box-shadow: none;
	outline: 0 none;
}

/* Font Styles */
.btn, h1, h2, h3, h4, h5, h6, .dropdown-menu li, .ws-work-item-desc span, .ws-footer-bar p, .ws-topbar, .ws-navbar,
.ws-item-category, .ws-item-sale span, .ws-call-btn a, .ws-footer li, .ws-contact-form, .ws-contact-page .ws-contact-info a,
.ws-contact-offices .caption strong, .ws-journal-page .nav-tabs li a, .ws-journal-pagination .pager li>a, .ws-shop-page .nav-tabs li a,
.ws-faq-page .nav-tabs li a, .ws-login-form, .ws-register-form, .ws-breadcrumb, .ws-mycart-content thead th, .ws-mycart-total,
.ws-mycart-content .ws-coupon-code input, .ws-checkout-billing label, .ws-checkout-order, .ws-3d-title{
	font-family: 'Lato', sans-serif;
}
.ws-hero-description h4, span.minicart-content-price, .ws-about-team .caption h5, .ws-forgot-pass a, .ws-register-link a,
.ws-mycart-content .cart-item-title h3{
	font-family: 'Merriweather', serif;
}

/* Buttons */
.btn{
	background: transparent;
	border-radius: 0;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 700;
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    text-decoration: none;
}
.ws-btn-facebook{
	font-size: 14px;
	width: 100%;
	padding: 15px;
	border: 1px solid #3b5998;
	background-color: transparent;
	color: #3b5998;
}
.ws-btn-facebook:hover{
	color: #fff;
	background-color: #3b5998;
}
.ws-small-btn-black{
	font-size: 12px;
	letter-spacing: 3px;
	padding: 10px 35px;
	background-color: #353535;
	color: #fff;
}
.ws-small-btn-black:hover{
	color: #fff;
	background-color: #C2A476;
}
.ws-small-btn{
	font-size: 12px;
	letter-spacing: 3px;
	padding: 10px 35px;
	border: 2px solid #C2A476;
	background-color: transparent;
	color: #C2A476;
}
.ws-small-btn:hover{
	color: #fff;
	background-color: #C2A476;
}
.ws-big-btn{
	font-size: 13px;
	letter-spacing: 3px;
	padding: 15px 45px;
	background-color: #C2A476;
	color: #fff;
}
.ws-big-btn:hover{
	color: #fff;
	background-color: #CCB48E;
}
.ws-big-btn a{
	color: #fff;
	text-decoration: none;
}
.ws-btn-black{
	font-size: 14px;
	width: 100%;
	padding: 15px;
	background-color: #353535;
	color: #fff;
}
.ws-btn-black:hover{
	color: #fff;
	background-color: #CCB48E;
}
.ws-btn-fullwidth{
	font-size: 14px;
	width: 100%;
	padding: 15px;
	background-color: #C2A476;
	color: #fff;
}
.ws-btn-fullwidth:hover{
	color: #fff;
	background-color: #CCB48E;
}
.btn-follow{
	padding: 15px 35px;
	background-color: #353535;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 4px;
	color: #fff;
	margin: 50px 0 50px 0 ;
}
.btn-follow:hover{
	text-decoration: none;
	color: #fff;
    background-color: #CCB48E;
}


/* Page Loader */
.ws-spinner {
  width: 60px;
  height: 60px;
  margin: 100px auto;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
#preloader {
	 position:fixed;
	 display: table;
	 width: 100%;
	 height: 100%;
	 min-height: 100%;
	 overflow-x: hidden;
	 overflow-y: hidden;
	 vertical-align: middle;
	 background: #fff;
	 z-index:9999;
}
.preloader-container {
	 position: relative;
	 display: table-cell;
	 vertical-align: middle;
	 z-index: 3;
	 text-align:center;
}

/* Helpper Classes */
.ws-page-container{
	padding: 70px 0;
}
.vertical-align {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}
.padding-top-x50{
	padding-top: 50px;
}
.padding-top-x70{
	padding-top: 70px;
}
.padding-bottom-x70{
	padding-bottom: 70px;
}
.col-no-p{
	padding-right: 0;
	padding-left: 0;
}
.ws-product-title-separator{
	background-color: #C2A476;
    height: 2px;
    margin: 10px 0;
    width: 35px;
}
.ws-price-separator{
	background-color: #000;
    height: 1px;
    margin: 5px 0;
    width: 25px;
}
.ws-separator{
	background-color: #CCB48E;
	height: 1px;
	position: relative;
	width: 70px;
	display: block;
	margin: 15px auto 20px auto;
}
.ws-item-separator{
	background-color: #CCB48E;
	height: 1px;
	position: relative;
	width: 40px;
	display: block;
	margin: 10px auto 10px auto;
}

/*--------------------------------------
	2) HEADER
---------------------------------------*/

/* Top Bar */
.ws-topbar{
	position: relative;
	color: #fff;
	padding: 0 0 0 24px;
	background-color: #333;
	height: 36px;
}
.ws-topbar-message p{
	font-size: 10px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 36px;
}
.ws-topbar span{
	color: #C2A476;
}

/* Navbar */
.ws-logo{
	padding-bottom: 30px;
	max-width: 200px;
	margin: 0 auto;
}
.ws-navbar{
	min-height: 36px;
	margin: 0;
	border: none;
	border-radius: 0;
	border-color: transparent;
	text-transform: uppercase;
	background-color: transparent;
}
.ws-navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.ws-navbar .navbar-collapse {
  text-align: center;
}
.ws-navbar .navbar-nav li{
	padding: 8px 30px;
}
.ws-navbar .navbar-nav li a{
	padding: 0;
	color: #353535;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 1px;
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-navbar .navbar-nav li a:hover{
	color: #C2A476;
}

/* Header Transparent */
.ws-header-transparent .ws-navbar .navbar-nav li a{
	color: #fff;
}
.ws-header-transparent .ws-navbar .navbar-nav li a:hover{
	color: #C2A476;
}
.ws-header-transparent .ws-navbar .navbar-nav>.open>a, .ws-header-transparent .ws-navbar .navbar-nav>.open>a:focus,
.ws-header-transparent .ws-navbar .navbar-nav>.open>a:hover{
	color: #C2A476;
	background-color: transparent;
}
.ws-header-transparent .ws-navbar .navbar-nav .dropdown-menu{
	padding: 10px 0;
	background-color: rgba(0,0,0,.6);
	border: none;
	border-color: transparent;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.ws-header-transparent .ws-navbar .navbar-nav .dropdown-menu>li>a:focus, .ws-header-transparent .ws-navbar .navbar-nav .dropdown-menu>li>a:hover{
	background-color: transparent;
}
.ws-header-transparent .ws-navbar .navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

/* Header Static */
.ws-header-static{
	position: relative;
	padding: 20px 0;
}
.ws-header-static .ws-navbar .navbar-nav li a{
	color: #353535;
}
.ws-header-static .ws-navbar .navbar-nav li a:hover{
	color: #C2A476;
}
.ws-header-static .ws-navbar .navbar-nav>.open>a, .ws-header-static .ws-navbar .navbar-nav>.open>a:focus,
.ws-header-static .ws-navbar .navbar-nav>.open>a:hover{
	color: #C2A476;
	background-color: transparent;
}
.ws-header-static .ws-navbar .navbar-nav .dropdown-menu{
	padding: 10px 0;
	background-color: #fff;
	border: none;
	border-color: transparent;
	border-radius: 0;
}
.ws-header-static .ws-navbar .navbar-nav .dropdown-menu li, .ws-header-transparent .ws-navbar .navbar-nav .dropdown-menu li{
	padding: 15px 30px;
}
.ws-header-static .ws-navbar .navbar-nav .dropdown-menu>li>a:focus, .ws-header-static .ws-navbar .navbar-nav .dropdown-menu>li>a:hover{
	background-color: transparent;
}
.ws-header-static .ws-navbar .navbar-right .dropdown-menu{
    right: auto;
    left: 0;
}

/* Dropdown */
.dropdown .dropdown-menu .caret {
	border: 4px solid transparent;
	border-left-color: #000;
	float: right;
	margin-top: 6px;
}
.dropdown-menu {
  min-width: 200px;
}
.dropdown-menu > li.open > a {
	background-color: #F5F5F5;
	color: #262626;
	text-decoration: none;
}
.dropdown-menu .dropdown-menu {
	left: 100%;
	margin: 0;
	right: auto;
	top: -1px;
}
.dropdown-menu-right .dropdown-menu,
.navbar-right .dropdown-menu .dropdown-menu,
.pull-right .dropdown-menu .dropdown-menu {
	left: auto;
	right: 100%;
}
.dropdown-menu.animated {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}
.dropdown-menu.animated:before {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}
.dropdownhover-top {
	margin-bottom: 2px;
	margin-top: 0;
}
.navbar-fixed-bottom .dropdown-menu .dropdown-menu,
.dropdownhover-top .dropdown-menu {
	bottom: -1px;
	top: auto;
}
.navbar-nav > li > .dropdown-menu {
	margin-bottom: 0;
}

.dropdownhover-bottom {
	-webkit-transform-origin: 50% 0;
			transform-origin: 50% 0;
}
.dropdownhover-left {
	-webkit-transform-origin: 100% 50%;
			transform-origin: 100% 50%;
}
.dropdownhover-right {
	-webkit-transform-origin: 0 50%;
			transform-origin: 0 50%;
}
.dropdownhover-top {
	-webkit-transform-origin: 50% 100%;
			transform-origin: 50% 100%;
}

/* Hero Content */
.ws-header{
	position: relative;
	padding-top: 30px;
}
.ws-hero-title h1{
	color: #fff;
	font-size: 32px;
	text-transform: uppercase;
}
.ws-hero-description h4{
	color: #fff;
}
.ws-header-transparent{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
}
.ws-center{
	padding: 0;
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
#ws-fullscreen-slider .slotholder:after, #ws-fullwidth-slider .slotholder:after{
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.4);
}
#ws-fullscreen-slider .tparrows, #ws-fullwidth-slider .tparrows{
	background: transparent;
}
#ws-fullscreen-slider .tparrows:before, #ws-fullwidth-slider .tparrows:before{
    font-size: 36px;
}
.ws-3d-title{
	font-weight: 300;
	color: #353535;
}

/*--------------------------------------
	3) ABOUT SECTION
---------------------------------------*/
.ws-about-section{
	text-align: center;
	border-bottom: 1px solid #f2f2f2;
	padding: 70px 0;
}
.ws-about-content h3{
	font-size: 22px;
	color: #353535;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.ws-featured-collections{
	margin-top: 40px;
}
.featured-collections-item .thumbnail{
	position: relative;
    padding: 0;
    margin: 0;
	height:150px;
    border-radius: 0;
	background-color: rgba(0,0,0,0) !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
	border:2px solid #C2A476;
	border-radius:5px;
}
.featured-collections-item .caption{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.featured-collections-item .caption h3{
	font-size: 16px;
	letter-spacing: 4px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}
.featured-collections-item .caption h3:before, .featured-collections-item .caption h3:after{
	content:"";
    vertical-align:top;
    display:inline-block;
    width: 10px;
    height: 10px;
    border-bottom: 1px solid #fff;
    margin: 0 2% 0 -55%;
}
.featured-collections-item .caption h3:after{
	margin:0 -55% 0 2%;
}
.ws-overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.4);
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.featured-collections-item .ws-overlay:hover{
	background-color: rgba(0,0,0, .0);
}
#ws-instagram-section{
	border-top: 1px solid #f2f2f2;
	padding: 70px 0;
}
.ws-about-page h3{
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    color: #353535;
}
.ws-instagram-header h3{
	text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    color: #353535;
}
.ws-instagram-item {
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-instagram-item img:hover{
	opacity: .7;
}
a.ws-instagram-link{
	font-size: 16px;
	color: #C2A476;
	letter-spacing: 1px;
}
.ws-about-team .caption{
	padding-top: 35px;
}
.ws-about-team .caption h5{
	color: #C2A476;
	letter-spacing: 1.5px;
	padding-bottom: 10px;
}

/*--------------------------------------
	4) WORKS SECTION
---------------------------------------*/
.ws-works-item a{
	color: #353535;
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-works-item a:hover{
	color: #C2A476;
}
.ws-works-item{
	padding-top: 40px;
}
.ws-works-section{
	padding: 70px 0;
}
.ws-works-title h3{
	font-size: 22px;
	text-align: center;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #353535;
}
.ws-works-caption{
	margin-top: 15px;
}
h3.ws-item-title{
	font-size: 20px;
	text-transform: uppercase;
	margin-top: 5px;
}
.ws-item-category{
	color: #C2A476;
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
}
.ws-item-price{
	color: #999;
	font-style: italic;
}
.ws-item-price del{
	padding: 0 5px;
}
.ws-item-price ins{
	color: #C2A476;
	padding: 0 5px;
	text-decoration: none;
}
.ws-works-item figure{
	overflow: hidden;
}
.ws-works-item figure img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-works-item figure:hover img{
	opacity: .8;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.ws-item-offer{
	position: relative;
}
.ws-item-sale{
	position: absolute;
    top: -3%;
    left: -3%;
    background-color: #353535;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	text-align: center;
}
.ws-item-sale span{
	color: #fff;
	font-size: 11px;
	font-weight: 600;
	line-height: 60px;
	letter-spacing: 2px;
	text-transform: uppercase;

}

/*--------------------------------------
	5) SHOP SECTION
---------------------------------------*/
.ws-shop-account .btn, .ws-shop-cart .btn{
	color: #fff;
	font-weight: 700;
	font-size: 11px;
	letter-spacing: 2px;
}
.ws-shop-account .btn{
	padding: 10px 30px;
}
.ws-shop-account .btn:hover{
	color: #C2A476;
	background-color: #fff;
}
.ws-shop-cart .btn{
	padding: 10px 30px;
	background-color: #C2A476;
}
.ws-shop-cart .btn:hover{
	color: #fff;
	background-color: #CCB48E;
}
ul.ws-shop-menu li{
	letter-spacing: 1px;
	margin: 0;
	list-style: none;
	padding-left: 0;
	float: left;
}
.ws-shop-cart:hover .ws-shop-minicart{
	display: block;
}
.ws-shop-minicart{
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	width: 370px;
	z-index: 999;
	background: #fff;
	box-shadow: 0 1px 1px rgba(0,0,0,.3);
	padding: 30px;
}
.ws-shop-viewcart .btn{
	padding: 9px 20px;
	width: 150px;
	font-size: 12px;
	background-color: #C2A476;
	border: 2px solid #C2A476;
	color: #fff;
}
.ws-shop-viewcart .btn:hover{
	border: 2px solid #CCB48E;
	background-color: #CCB48E;
}
.ws-shop-checkout .btn{
	padding: 9px 20px;
	width: 150px;
	font-size: 12px;
	border: 2px solid #C2A476;
	background-color: transparent;
	color: #C2A476;
}
.ws-shop-checkout .btn:hover{
	border: 2px solid #C2A476;
	background-color: #C2A476;
	color: #fff;
}
ul.minicart-content-items img{
	max-height: 70px;
	margin-right: 20px;
}
.ws-shop-menu-checkout{
	padding-top: 30px;
}
.minicart-content-details{
	padding-top: 10px;
}
.minicart-content-details a{
	color: #C2A476;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
span.minicart-content-price{
	color: #999;
	font-size: 13px;
}
.minicart-content-total{
	border-top: 1px solid #f2f2f2;
	padding-top: 30px;
	margin-top: 30px;
}
.minicart-content-total h3{
	color: #C2A476;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1.5px;
}
span.minicart-content-remove a{
	color: #999;
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
span.minicart-content-remove a:hover{
	color: #C2A476;
}
span.minicart-content-remove{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}
.minicart-content-items li.media:last-child{
	margin-bottom: 0;
}
.minicart-content-items li.media{
	position: relative;
	margin-bottom: 15px;
}
.minicart-content ul{
	padding: 0;
}
.ws-shop-page .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}
.ws-shop-page .nav-tabs, .nav-pills {
    text-align:center;
}
.ws-shop-page .nav-tabs{
	border: none;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 30px;
}
.ws-shop-page .nav-tabs li a{
	color: #999;
	text-transform: uppercase;
	padding: 0 15px;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-shop-page .nav-tabs>li.active>a, .ws-shop-page .nav-tabs>li.active>a:focus, .ws-shop-page .nav-tabs>li.active>a:hover {
    color: #C2A476;
    cursor: default;
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
}
.ws-shop-page .nav-tabs>li>a:hover {
    color: #C2A476;
    background-color: transparent;
    border-color: transparent;
}
.ws-more-btn-holder{
	text-align: center;
	padding-top: 70px;
}
.ws-more-btn{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #353535;
    padding: 20px 150px;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    -ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-more-btn:hover{
	color: #fff;
	background-color: #CCB48E;
}
.ws-login-form .form-group {
    margin: 0 0 20px 0;
}
.ws-login-form .control-label{
    padding: 0 0 7px 0;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.ws-login-form .control-label span {
    color: #C2A476;
}
.ws-login-form input.form-control {
    height: 40px;
}
.ws-login-form .form-control{
    border-radius: 0;
    border: 1px solid #dadada;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-login-form input:focus, .ws-login-form textarea:focus {
	border: 1px solid #C2A476;
	background-color: transparent;
}
.ws-login-form .checkbox label{
	font-size: 12px;
	font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.ws-forgot-pass{
	margin-top: 10px;
}
.ws-forgot-pass a{
	color: #C2A476;
	font-style: italic;
}
.ws-register-link{
	padding-top: 20px;
	text-align: center;
}
.ws-register-link a{
	color: #C2A476;
	border: 1px #C2A476;
	border-style: none none solid none ;
	padding-bottom: 2px;
}
.ws-register-form h3{
	text-align: center;
	text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    color: #353535;
}
.ws-register-form .form-group {
    margin: 0 0 20px 0;
}
.ws-register-form .control-label{
    padding: 0 0 7px 0;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.ws-register-form .control-label span {
    color: #C2A476;
}
.ws-register-form input.form-control {
    height: 40px;
}
.ws-register-form .form-control{
    border-radius: 0;
    border: 1px solid #dadada;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-register-form input:focus, .ws-register-form textarea:focus {
	border: 1px solid #C2A476;
	background-color: transparent;
}
.ws-register-form .checkbox a{
	color: #C2A476;
	text-decoration: underline;
}
.ws-register-form .checkbox label {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
/* Modal */
#ws-register-modal .modal-footer {
	text-align: center;
	border: none;
	padding-bottom: 50px;
}
#ws-register-modal .modal-header{
	padding: 15px;
    border: none;
}
#ws-register-modal .modal-body .ws-register-form h2{
	text-align: center;
}
#ws-register-modal .modal-content {
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#ws-register-modal .close{
	opacity: 1;
	font-size: 32px;
	color: #C2A476;
}
/* My Cart */
table .img-responsive{
	width: 100%;
}
.ws-mycart-content td, .ws-mycart-content th{
	padding: 15px !important;
}
.ws-mycart-content td:first-child, .ws-mycart-content th:first-child {
    padding-left: 0 !important;
}
.ws-mycart-content td:last-child, .ws-mycart-content th:last-child {
    padding-right: 0 !important;
}
.ws-mycart-content tbody td.cart-item-cell{
	vertical-align: middle;
	border-bottom: 1px solid #f2f2f2 !important;
}
.ws-mycart-content thead th.cart-item-head{
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 2px;
	border-bottom: 1px solid #f2f2f2 !important;
}
.ws-mycart-content .cart-item-remove{
	width: 100px;
	text-align: right;
}
.ws-mycart-content .cart-item-remove a{
	color: #999;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-mycart-content .cart-item-remove a:hover{
	color: #C2A476;
}
.ws-mycart-content .cart-item-title a{
	color: #999;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-mycart-content .cart-item-title a:hover{
	color: #C2A476;
}
.ws-mycart-content .cart-item-title h3{
	font-size: 14px;
}
.ws-mycart-content .cart-item-thumb, .ws-mycart-content .cart-item-price, .ws-mycart-content .cart-item-quantity,
.ws-mycart-content .cart-item-subtotal{
	width: 100px;
}
.ws-mycart-content .cart-item-quantity input{
	height: 40px;
	width: 100%;
	padding: 0 10px;
	border: 1px solid #dadada;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-mycart-content .cart-item-quantity input:focus{
    border: 1px solid #C2A476;
    background-color: transparent;
}
.ws-mycart-total{
	margin-top: 15px;
	text-align: center;
	background-color: #f5f5f5;
	padding: 30px;
}
.ws-mycart-total table{
	letter-spacing: 1.5px;
	width: 100%;
}
.ws-mycart-total h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.ws-mycart-total tbody tr.cart-subtotal th, .ws-mycart-total tbody tr.shipping th{
	font-weight: 400;
}
.ws-mycart-total tbody th{
	text-align: left;
}
.ws-mycart-total tbody td{
	text-align: right;
}
.ws-mycart-total tbody tr th, .ws-mycart-total tbody tr td{
	font-size: 13px;
	letter-spacing: 1px;
	padding-bottom: 30px;
}
.ws-mycart-total tbody tr.order-total{
	text-transform: uppercase;
	border-top: 1px solid #ddd;
}
.ws-mycart-total tbody tr.order-total th, .ws-mycart-total tbody tr.order-total td{
	font-weight: 600;
	padding-top: 30px;
	color: #C2A476;
}
.ws-mycart-content .ws-update-cart{
	float: right;
	text-align: right;
}
.ws-mycart-content .ws-coupon-code{
	float: left;
}
.ws-mycart-content .ws-coupon-code input{
	font-weight: 600;
	font-size: 12px;
	border: 1px solid #dadada;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 37px;
	margin-right: -5px;
	padding: 0 50px 0 15px;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-mycart-content .ws-coupon-code input:focus{
    border: 1px solid #C2A476;
    background-color: transparent;
}

/* Checkout */
.ws-checkout-coupon{
	text-align: center;
}
.coupon-info{
	background-color: #f5f5f5;
	padding: 10px;
}
.coupon-info p{
	font-size: 13px;
	font-style: italic;
}
.coupon-info a{
	color: #C2A476;
}
.ws-checkout-coupon-code{
	padding: 30px 0;
	max-width: 350px;
	text-align: center;
	margin: 0 auto;
}
.ws-checkout-coupon-code input{
	font-style: italic;
	font-size: 13px;
	border: 1px solid #dadada;
	padding: 0 15px;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
	height: 40px;
	width: 100%;
}
.ws-checkout-coupon-code input:focus{
    border: 1px solid #C2A476;
    background-color: transparent;
}
.ws-checkout-coupon-code .ws-btn-fullwidth{
	font-size: 13px;
	padding: 10px;
}
.ws-checkout-content{
	margin-top: 30px;
}
.ws-checkout-billing h3{
	text-transform: uppercase;
	font-size: 18px;
	margin-bottom: 20px;
	letter-spacing: 2px;
}
.ws-checkout-billing input{
	height: 40px;
	width: 100%;
	font-size: 13px;
	font-style: italic;
	border: 1px solid #dadada;
	padding: 0 15px;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
	border-radius: 0;
}
.ws-checkout-billing input:focus{
    border: 1px solid #C2A476;
    background-color: transparent;
}
.ws-checkout-billing textarea{
	height: 120px;
	width: 100%;
	font-size: 13px;
	font-style: italic;
	border: 1px solid #dadada;
	padding: 15px;
	resize: none;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
	border-radius: 0;
}
.ws-checkout-billing textarea:focus{
    border: 1px solid #C2A476;
    background-color: transparent;
}
.ws-checkout-first-row .ws-checkout-input:first-child{
	padding-right: 20px;
}
.ws-checkout-input{
	margin-bottom: 20px;
}
.ws-checkout-billing label{
    padding: 0 0 7px 0;
    margin: 0;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.ws-checkout-billing label span{
	color: #C2A476;
}

/* Order Table */
.ws-checkout-order{
	background-color: #f5f5f5;
	padding: 30px;
}
.ws-checkout-order h2{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.ws-checkout-order thead{
	text-transform: uppercase;
}
.ws-checkout-order th{
	font-size: 13px;
	letter-spacing: 1px;
}
th.ws-order-product{
	color: #C2A476;
	text-align: left;
}
th.ws-order-total{
	color: #C2A476;
	text-align: right;
}
.ws-checkout-order table td, .ws-checkout-order table th{
	padding-bottom: 30px;
}
.ws-checkout-order tbody th{
	font-weight: 400;
	text-align: left;
	width: 50%;
}
.ws-checkout-order tbody td{
	text-align: right;
	width: 50%;
}
tfoot.ws-checkout-shipping tr:first-child th{
	font-weight: 400;
}
tfoot.ws-checkout-shipping th{
	font-size: 13px;
	letter-spacing: 1px;
}
tfoot.ws-checkout-shipping tr.ws-shipping-total{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #C2A476;
}
tfoot.ws-checkout-shipping tr.ws-shipping-total td{
	text-align: right;
}
.ws-shipping-payment{
	border-top: 1px solid #ddd;
	padding-top: 30px;
	padding-bottom: 30px;
}
.ws-shipping-payment .radio{
	margin: 0;
}
.ws-shipping-payment .radio label{
	text-transform: uppercase;
	font-weight: 600;
	color: #C2A476;
}

/*--------------------------------------
	6) CALL TO ACTION
---------------------------------------*/
.ws-call-section {
	position: relative;
	min-height: 350px;
	background: url(../img/backgrounds/shop-header-bg.jpg) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.ws-parallax-holder{
	text-align: center;
}
.ws-parallax-holder h2{
	color: #fff;
	font-size: 32px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.ws-parallax-holder p{
	color: #fff;
}
.ws-parallax-caption{
	display: table;
    width: 100%;
    height: 100%;
}
.ws-parallax-caption .ws-parallax-holder{
	display: table-cell;
    vertical-align: middle;
}
.ws-call-btn{
	padding-top: 30px;
}
.ws-call-btn a{
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	border-style: none none solid none;
    border-width: 2px;
    padding-bottom: 3px;
    -ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-call-btn a:hover{
	color: #CCB48E;
}

/*--------------------------------------
	7) SUBSCRIBE
---------------------------------------*/
.ws-subscribe-section{
	border-top: 1px solid #f2f2f2;
	padding: 70px 0;
}
.ws-subscribe-content h3{
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 2px;
	color: #353535;
}
.ws-subscribe-content p{
	font-size: 13px;
	color: #000;
}
.ws-subscribe-content .form-inline .form-control:focus{
	background-color: #EBEBEB;
}
.ws-subscribe-content .form-inline .form-control {
	width: 350px;
	font-size: 12px;
	height: 45px;
	letter-spacing: 1px;
	border-radius: 0;
	border: none;
	background-color: #f5f5f5;
	-webkit-box-shadow: none;
	box-shadow: none;
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-btn-subscribe{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #353535;
	height: 45px;
	line-height: 33px;
	width: 160px;
	font-size: 12px;
	margin-left: -3px;
	letter-spacing: 2px;
	font-weight: 700;
}
.ws-btn-subscribe:hover{
	color: #fff;
	background-color: #CCB48E;
}

/*--------------------------------------
	8) NEW ARRIVALS SECTION
---------------------------------------*/
.ws-items-carousel{
	position: relative;
    padding: 0;
    margin: 0;
}
.ws-arrivals-section{
	padding: 70px 0;
	border-bottom: 1px solid #f2f2f2;
}

#ws-items-carousel .owl-controls{
	position: absolute;
	top: 40%;
	left: 50%;
	width: 100%;
	-ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#ws-items-carousel .owl-controls .owl-prev{
	padding: 10px 20px 10px 15px;
	text-align: center;
	background-color: rgba(204,180,142,.8);
	position: absolute;
	left: 0;
}
#ws-items-carousel .owl-controls .owl-next{
	padding: 10px 15px 10px 20px;
	text-align: center;
	background-color: rgba(204,180,142,.8);
	position: absolute;
	right: 0;
}
#ws-items-carousel .owl-controls .owl-prev:before{
	color: #fff;
	content: "\f104";
	display: block;
    font: normal normal normal 32px/1 FontAwesome;
}
#ws-items-carousel .owl-controls .owl-next:before{
	color: #fff;
	content: "\f105";
	display: block;
    font: normal normal normal 32px/1 FontAwesome;
}

/*--------------------------------------
	9) PARALLAX HEADERS
---------------------------------------*/
.ws-simple-header{
	text-align: center;
	background-color: #f2f2f2;
	padding: 70px 0;
}
.ws-simple-header-caption h1{
	font-size: 36px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.ws-simple-header-caption h1:before, .ws-simple-header-caption h1:after {
    content: "";
    vertical-align: top;
    display: inline-block;
    width: 15px;
    height: 21px;
    border-bottom: 1px solid #999;
    margin: 0 2% 0 -55%;
}
.ws-simple-header-caption h1:after {
    margin: 0 -55% 0 2%;
}
.ws-parallax-header{
	position: relative;
	min-height: 300px;
    background: transparent;
}

/* Title */
.ws-parallax-header .ws-parallax-holder h1{
	font-size: 36px;
	font-weight: 300;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
}
.ws-parallax-header .ws-parallax-holder h1:before, .ws-parallax-header .ws-parallax-holder h1:after{
	content:"";
    vertical-align:top;
    display:inline-block;
    width: 10px;
    height: 21px;
    border-bottom: 1px solid #fff;
    margin: 0 2% 0 -55%;
}
.ws-parallax-header .ws-parallax-holder h1:after{
	margin:0 -55% 0 2%;
}

/*--------------------------------------
	10) CONTACT PAGE
---------------------------------------*/
.ws-contact-form .control-label{
	padding: 0 0 7px 0;
	margin: 0;
	font-size: 12px;

	text-transform: uppercase;
	letter-spacing: 1.5px;
}
.ws-contact-form .control-label span{
	color: #C2A476;
}
.ws-contact-form input.form-control{
	height: 40px;
}
.ws-contact-form textarea.form-control{
	resize: none;
}
.ws-contact-form input:focus, .ws-contact-form textarea:focus{
	border: 1px solid #C2A476;
	background-color: transparent;
}
.ws-contact-form .form-group{
	margin: 0 0 20px 0;
}
.ws-contact-form .form-control{
	border-radius: 0;
    border: 1px solid #dadada;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-contact-page .ws-contact-info h2{
	color: #353535;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 7px;
}
.ws-contact-page .ws-contact-info a{
	color: #C2A476;
}
.ws-contact-offices{
	padding-top: 70px;
}
.ws-contact-offices h2{
	font-size: 24px;
	color: #353535;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.ws-contact-offices .thumbnail{
	position: relative;
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
}
.ws-contact-offices .caption{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	-ms-transform: translate(-50%, -50%);
   	-webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.ws-contact-offices .caption address{
	padding: 0;
	margin: 0;
	color: #fff;
}
.ws-contact-offices .caption strong{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.ws-contact-separator{
	background-color: #fff;
	height: 1px;
	position: relative;
	width: 50px;
	display: block;
	margin: 5px auto 10px auto;
}

/*--------------------------------------
	11) JOURNAL PAGE
---------------------------------------*/
.ws-journal-image img{
	display: block;
    max-width: 100%;
    height: auto;
}
.ws-journal-item{
	padding-bottom: 30px;
}
.ws-journal-page .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}
.ws-journal-pagination .pager{
	margin: 0;
	padding-top: 40px;
}
.ws-journal-pagination .pager li>a{
	color: #999;
	border: none;
	text-transform: uppercase;
	padding: 0;
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 600;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-journal-pagination .pager li>a:focus, .ws-journal-pagination .pager li>a:hover {
    color: #C2A476;
	background-color: transparent;
}
.ws-journal-page .nav-tabs, .nav-pills {
    text-align:center;
}
.ws-journal-page .nav-tabs{
	border: none;
	border-radius: 0;
	background-color: transparent;
	margin-bottom: 70px;
}
.ws-journal-page .nav-tabs li a{
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	padding: 0 15px;
	letter-spacing: 1px;
	font-weight: 600;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-journal-page .nav-tabs>li.active>a, .ws-journal-page .nav-tabs>li.active>a:focus, .ws-journal-page .nav-tabs>li.active>a:hover {
    color: #C2A476;
    cursor: default;
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
}
.ws-journal-page .nav-tabs>li>a:hover {
    color: #C2A476;
    background-color: transparent;
    border-color: transparent;
}
.ws-journal-image figure{
	overflow: hidden;
}
.ws-journal-image figure img{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-journal-image figure:hover img{
	opacity: .8;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.ws-journal-caption{
	padding: 15px 0;
}
.ws-journal-caption h3{
	font-size: 18px;
	font-weight: 600;
	color: #353535;
	margin-bottom: 15px;
}
.ws-journal-caption p{
	color: #999;
}
span.ws-journal-category{
	color: #C2A476;
	font-style: italic;
	padding-top: 15px;
}

/*--------------------------------------
	12) PRODUCT PAGE
---------------------------------------*/
.ws-breadcrumb{
	border-top: 1px solid #f2f2f2;
	padding-top: 70px;
}
.ws-breadcrumb .breadcrumb{
	text-align: center;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
.ws-breadcrumb .breadcrumb li a{
	color: #999;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-breadcrumb .breadcrumb li a:hover{
	color: #C2A476;
}
.ws-breadcrumb .breadcrumb li.active{
	color: #C2A476;
}
.ws-breadcrumb .breadcrumb li{
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 11px;
}
#ws-products-carousel{
	position: relative;
}
#ws-products-carousel .owl-controls{
    position: absolute;
    top: 47%;
    left: 50%;
    width: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#ws-products-carousel .owl-controls .owl-prev:before {
    color: #fff;
    content: "\f104";
    display: block;
    font: normal normal normal 32px/1 FontAwesome;
}
#ws-products-carousel .owl-controls .owl-prev {
    padding: 10px 20px 10px 15px;
    text-align: center;
    background-color: rgba(204,180,142,.8);
    position: absolute;
    left: 0;
}
#ws-products-carousel .owl-controls .owl-next:before {
    color: #fff;
    content: "\f105";
    display: block;
    font: normal normal normal 32px/1 FontAwesome;
}
#ws-products-carousel .owl-controls .owl-next {
    padding: 10px 15px 10px 20px;
    text-align: center;
    background-color: rgba(204,180,142,.8);
    position: absolute;
    right: 0;
}
.ws-product-content header{
	text-align: center;
	padding-bottom: 30px;
}
.ws-product-content .ws-product-quantity{
	height: 50px;
	border: 1px solid #f5f5f5;
	margin: 20px auto 0 auto;
	width: 200px;
}
.ws-product-content .ws-product-quantity input{
    width: 40%;
    border: 0;
    height: 48px;
    line-height: normal;
    float: left;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding: 0 24px;
}
.ws-product-content .ws-product-quantity a.minus{
	float: left;
	width: 30%;
	text-align: center;
	line-height: 50px;
	font-weight: 400;
	font-size: 17px;
	color: #C2A476;
	background-color: #f5f5f5;
}
.ws-product-content .ws-product-quantity a.plus{
	float: left;
	width: 30%;
	text-align: center;
	line-height: 50px;
	font-weight: 400;
	font-size: 17px;
	color: #C2A476;
	background-color: #f5f5f5;
}
.ws-product-details{
	padding-bottom: 30px;
}
.ws-product-content header h3{
	color: #353535;
}
.ws-single-item-price{
	font-size: 22px;
}
.ws-products-description-content{
	border-top: 1px solid #f2f2f2;
}
.ws-product-description{
	padding: 70px 100px;
	border-bottom: 1px solid #f2f2f2;
}
.ws-product-description h3{
	text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    color: #353535;
    margin-bottom: 30px;
}
.ws-product-social-icon a{
	color: #999;
	font-size: 18px;
	margin: 0 18px;
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-product-social-icon a:hover{
	color: #C2A476;
}
.ws-related-section{
	padding: 70px 0;
}
.ws-related-title h3{
	text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    color: #353535;
}

/*--------------------------------------
	13) F.A.Q & PRIVANCY PAGE
---------------------------------------*/
.ws-faq-page .nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}
.ws-faq-page .nav-tabs, .nav-pills {
    text-align:center;
}
.ws-faq-page .nav-tabs{
	border: none;
	border-radius: 0;
	background-color: transparent;
	padding-bottom: 70px;
}
.ws-faq-page .nav-tabs li a{
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	padding: 0 15px;
	font-weight: 600;
	-ms-transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.ws-faq-page .nav-tabs>li.active>a, .ws-faq-page .nav-tabs>li.active>a:focus, .ws-faq-page .nav-tabs>li.active>a:hover {
    color: #C2A476;
    cursor: default;
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
}
.ws-faq-page .nav-tabs>li>a:hover {
    color: #C2A476;
    background-color: transparent;
    border-color: transparent;
}
.ws-faq-pane-holder h3{
	text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2px;
    color: #353535;
}
.accordion-group{
	border-top: 1px solid #f2f2f2;
	margin-top: 25px;
	padding-top: 25px;
}
.ws-accordion .accordion-heading a{
	color: #353535;
	font-size: 16px;
	letter-spacing: 1px;
}
.accordion-inner{
	padding-top: 20px;
}

/*--------------------------------------
	14) FOOTER
---------------------------------------*/

.ws-footer{
	color: #fff;
	padding: 70px 0;
    background-color: #3D3D3D;
}
.ws-footer a{
	color: #999;
	-ms-transition: .3s ease-in-out;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.ws-footer a:hover{
	color: #C2A476;
}
.ws-footer h3{
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.ws-footer ul{
	letter-spacing: 1px;
	margin: 0;
	list-style: none;
	padding-left: 0;
}
.ws-footer li{
	font-size: 10px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
	margin-top: 12px;
}
.ws-footer-separator{
	background-color: #C2A476;
    height: 1px;
    width: 15px;
    display: block;
    margin: 15px 0 20px 0;
}
.ws-footer-bar ul{
	letter-spacing: 1px;
	margin: 0;
	list-style: none;
	padding-left: 0;
}
.ws-footer-bar{
	padding: 10px 0;
	background-color: #353535;
}
.ws-footer-bar p{
	color: #C2A476;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;
}
ul.ws-footer-social i{
	margin-right: 5px;
}
.ws-footer-about{
	padding-right: 60px;
}
.ws-footer-about p{
	color: #999;
	font-size: 12px;
	letter-spacing: 1px;
}
ul.ws-footer-payments li{
	color: #999;
	font-size: 16px;
	margin-left: 15px;
	margin-top: 3px;
	float: left;
}

/*--------------------------------------
	15) RESPONSIVE STYLES
---------------------------------------*/
.ws-navbar .navbar-toggle .icon-bar {background-color: #fff; width: 25px;height: 1px;border-radius: 0;}
.ws-navbar .navbar-toggle .icon-bar+.icon-bar {margin-top: 5px;}
.ws-navbar .navbar-toggle:focus, .ws-navbar .navbar-toggle:hover{background-color: transparent;}

@media only screen and (max-width : 1200px) {
	#ws-items-carousel .owl-controls{top: 37%;}
	#ws-items-carousel .owl-controls .owl-prev{padding: 5px 15px 5px 10px;}
	#ws-items-carousel .owl-controls .owl-next {padding: 5px 10px 5px 15px;}
}

@media only screen and (max-width : 992px) {
	.ws-subscribe-content .form-inline .form-control{width: 270px;}
	.featured-collections-item .caption h3 {font-size: 13px;letter-spacing: 2px;}
	.featured-collections-item .caption h3:before, .featured-collections-item .caption h3:after{height: 8px;}
	.ws-header-static .navbar-left, .ws-header-static .navbar-right{float: none !important;}
	.ws-header-transparent .navbar-left, .ws-header-transparent .navbar-right{float: none !important;}
	.ws-center{position: relative;top: 0;left: 0;-webkit-transform: none;-ms-transform: none;transform: none;}
	.ws-header-static{padding: 15px 0 0 0;}
	.ws-header-transparent{padding: 15px 0 0 0;}
	.ws-logo{padding-bottom: 8px;}
	.ws-cart-page .col-sm-8, .ws-cart-page .col-sm-4{width: 100%;}
	.ws-header-third .ws-navbar .navbar-nav li {padding: 8px 25px;}
}

@media only screen and (max-width : 768px) {
	.ws-logo {padding-bottom: 0;}
	.row{margin: 0;}
	#ws-items-carousel .owl-controls{top: 43%;}
	.featured-collections-item{padding-bottom: 10px;}
	.ws-footer{padding: 0 0 70px 0;}
	.ws-footer-about{padding: 0;}
	.ws-footer .ws-footer-col{padding-top: 70px;}
	.ws-footer-bar .pull-right{display: none !important;}
	.ws-subscribe-content .form-inline .form-control{width: 300px; margin: 0 auto;}
	#ws-instagram-section{text-align: center;}
	.ws-instagram-item{padding-top: 15px;}
	.vertical-align{display: block;}
	.ws-shop-minicart{width: 100%;}
	.ws-topbar ul.ws-shop-menu li.ws-shop-account{display: none;}
	.ws-product-description{padding: 70px 20px;}
	.ws-contact-info{padding-bottom: 30px; text-align: center;}
	.ws-contact-form .form-group:last-child{margin: 0;}
	.ws-contact-form .ws-big-btn{width: 100%;}
	.ws-contact-office-item{padding-bottom: 15px;}
	.ws-contact-office-item:last-child{padding-bottom: 0;}
	.ws-header-static .navbar-collapse {background-color: #fff; border: none;padding-top: 0;border-top: 1px solid #f2f2f2;margin-top: 20px;}
	.ws-header-static .navbar-toggle{position: absolute;top: -55px;border: none;margin: 8px 0 9px 25px;padding: 2px;}
	.ws-header-static{padding: 20px 0 20px 0;}
	.ws-header-transparent .navbar-collapse {background-color: rgba(0,0,0,.6); border: none;padding-top: 0;margin:20px 20px 0 20px;padding-bottom: 20px;}
	.ws-header-transparent .navbar-toggle{position: absolute;top: -55px;border: none;margin: 8px 0 9px 25px;padding: 2px;}
	.ws-header-transparent{padding: 20px 0 20px 0;}
	.ws-about-team-item:first-child{padding-bottom: 15px;}
	.ws-faq-page .nav-tabs li a{padding: 5px 15px;}
	.ws-faq-page .nav-tabs li {display: inline;}
	.ws-more-btn{padding: 20px 120px;}
	.ws-shop-page .nav-tabs li a{padding: 5px 15px;}
	.ws-shop-page .nav-tabs li{display: inline;}
	#ws-products-carousel{padding-bottom: 20px;}
	.ws-checkout-first-row .ws-checkout-input:first-child{padding-right: 0;}
	.ws-mycart-content table thead{display: none;}
	.ws-mycart-content table tbody td{display: block;text-align: center;}
	.ws-mycart-content .cart-item-thumb, .ws-mycart-content .cart-item-price, .ws-mycart-content .cart-item-quantity, .ws-mycart-content .cart-item-subtotal{margin: 0 auto;}
	.ws-mycart-content .cart-item-remove{margin: 0 auto; text-align: center;}
	.ws-mycart-content tbody td.cart-item-cell{border: none !important;}
	.ws-mycart-content table tr.cart-item{border-bottom: 1px solid #f2f2f2;}
	.ws-mycart-content .ws-coupon-code{float: none; padding-bottom: 20px;}
	.ws-mycart-content .ws-update-cart{float: none;text-align: center;}
	.ws-mycart-content .ws-coupon-code .btn, .ws-mycart-content .ws-update-cart .btn, .ws-mycart-content .ws-coupon-code input{width: 100%;}
	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border: none;}
	.ws-mycart-content td:last-child, .ws-mycart-content th:last-child {padding-right: 15px !important;}
	.ws-mycart-content td:first-child, .ws-mycart-content th:first-child {padding-left: 15px !important;}
	.ws-header-static .ws-navbar .navbar-nav {display: block;margin: 0;}
	.ws-header-static .ws-navbar .navbar-nav li a{text-align: center;}
	.ws-header-transparent .ws-navbar .navbar-nav {display: block;margin: 0;}
	.ws-header-transparent .ws-navbar .navbar-nav li a{text-align: center;}
	.ws-navbar .navbar-nav li{padding: 20px 0 0 0;}
	.ws-shop-cart:hover .ws-shop-minicart{display: none;}
	.ws-header-static .ws-navbar .navbar-nav .open .dropdown-menu>li>a{color: #353535;}
	.ws-header-static .ws-navbar .navbar-nav .open .dropdown-menu>li>a:hover{color: #C2A476;}
	.ws-header-static .ws-navbar .navbar-nav .dropdown-menu li{padding-bottom: 0;}
	.ws-header-static .ws-navbar .navbar-nav .dropdown-menu{padding: 0 0 15px 0;margin-top: 15px;background-color: #f5f5f5;}
	.ws-header-transparent .ws-navbar .navbar-nav .open .dropdown-menu>li>a{color: #fff;}
	.ws-header-transparent .ws-navbar .navbar-nav .open .dropdown-menu>li>a:hover{color: #C2A476;}
	.ws-header-transparent .ws-navbar .navbar-nav .dropdown-menu li{padding-bottom: 0;}
	.ws-header-transparent .ws-navbar .navbar-nav .dropdown-menu{padding: 0 0 15px 0;margin-top: 15px;background-color: rgba(0,0,0,.8);}
	.ws-header-third .navbar-toggle {top: -91px;}
	.ws-subscribe-content .form-inline .form-control, .ws-btn-subscribe{width: 100%;}
	.ws-shop-cart .btn{background-color: transparent;}
	.ws-shop-cart .btn:hover{background-color: transparent;}
	.ws-hero-title h1{font-size: 26px;letter-spacing: 1px;padding-bottom: 70px; text-align: center;}
	.ws-hero-description h4{display: none;}
	.ws-3d-title{text-align: center;}
}
@media screen and (min-width: 768px){
   	.rwd-break { display: none;}
}

.ws-overlay{
	background:none !important;
}
.featured-collections-item .caption h3{
	color:black;
	font-size: 19px;
	font-weight: 500;
}

@media screen and (max-width:479px){
	.featured-collections-item .caption h3{
		font-size:13px;
	}
	.featured-collections-item .thumbnail{
		height:80px;
	}
}