.img_artist {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
}

.artist_name {
    text-align: center;
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.location {
    text-align: center;
    min-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.load_more {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #353535;
    padding: 0 130px;
    line-height: 55px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    text-align: center;
}

.row.top_padding {
    padding-top: 60px;
}

.ws-more-btn {
    box-shadow: none;
}

.ws-more-btn:hover {
    box-shadow: none;
}

@media screen and (max-width: 479px) {
    .ws-more-btn {
        padding: 0 93px;
    }
}