.artist_bio_details {
    color: white;
    text-align: center;
    width: 80%;
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.share_profile_links {
    margin-bottom: -8px;
    color: #C2A476;
}

@media screen and (max-width: 479px) {
    .artist_bio_details {
        width: 100%;
        padding-top: 0px;
    }
    .products{
        margin-left: -25px !important;
        margin-right: 15px !important;
    }

}

.heart{
    margin-top: 15px;
    font-size: 24px !important;
    z-index: 99;
    color:#CCB48E;
}

.go_dislike,.go_like,.login-required,#countlike{
    position: absolute;
    display: flex;
    float: right;
    left:61.5px !important;
}
#countlike{
    margin-top: 11px;
    margin-left: 29px;
    z-index:999;
    color: black;
    left:0px;
}


.for_like{
    margin-right: 45px;
    padding-right: 15px;
}


span.woocommerce-Price-amount.amount {
    font-family: Montserrat;
    font-style: NORMAL;
    font-weight: 500;
}


.ws-item-subtitle:after {
    content: "";
    height: 1px;
    position: relative;
    width: 40px;
    display: block;
    margin: 5px 0 0 0 !important;
    background: #C2A476;
}
body{
    overflow-x: hidden !important;
}

@media screen and (max-width:479px){

}

#countlike{
    font-family:Montserrat;
}

.go_dislike, .go_like, .login-required {
    position: absolute;
    display: flex;
    float: right;
    left: 45.5px;
}

#countlike {
    position: absolute;
    display: flex;
    float: right;
    margin-top: 11px;
    margin-left: 15px;
    z-index: 999;
    color: black;
    left: 0px !important;
    font-family: Montserrat;
}
.for_like {
    margin-right: 45px;
    padding-right: 15px;
}